<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>683113584483-t92f5ont95t9fvnqkgdr9ssnmrk02ioo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.683113584483-t92f5ont95t9fvnqkgdr9ssnmrk02ioo</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>683113584483-2fvdvfetg34a4m20i7ea81benartjd82.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCFS4iD34wPRap8WnyPdPdE1q1EZkP4bsk</string>
	<key>GCM_SENDER_ID</key>
	<string>683113584483</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mutasem.glovanaProvider</string>
	<key>PROJECT_ID</key>
	<string>glovana</string>
	<key>STORAGE_BUCKET</key>
	<string>glovana.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:683113584483:ios:23b498b75fab9ae5056556</string>
</dict>
</plist>